# Importing necessary libraries

In [1]:
import pandas as pd

# Predicting based on user input

## Check the stock data of the available companies

### -Apollo
### -Bergepaint
### -DLF
### -Nestle India
### -TCS
### -HDFC
### -Industower
### -Infy
### -IOC

In [2]:
def readdata(a):
    if (a=="Apollo" or a=="apollo"):
        data="APOLLOHOSP.csv"
        company="Apollo"
    elif (a=="Bergepaint" or a=="berge" or a=="berge paint"):
        data="BERGEPAINT.csv"
        company="Bergepaint"
    elif (a=="DLF" or a=="dlf"):
        data="DLF.csv"
        company="DLF"
    elif (a=="Nestle" or a=="Nestle India" or a=="nestle"):
        data="NESTLEIND.csv"
        company="Nestle India"
    elif (a=="TCS" or a=="tcs"):
        data="TCS.csv"
        company="TCS"
    elif (a=="HDFC" or a=="hdfc"):
        data="HDFC.csv"
        company="HDFC"
    elif (a=="Industower" or a=="industower"):
        data="INDUSTOWER.csv"
        company="Industower"
    elif (a=="Infy" or a=="infy"):
        data="INFY.csv"
        company="Infy"
    elif (a=="IOC" or a=="ioc"):
        data="IOC.csv"
        company="IOC"
    else:
        print("Enter valid input")
    return data,company

In [3]:
a=input("Enter the Stock data you wanna check:")
b,cmp=readdata(a)
df=pd.read_csv(b)

Enter the Stock data you wanna check:ioc

In [4]:
df

                            date    open    high     low   close  volume
0      2015-02-02 09:15:00+05:30   86.75   86.75   85.07   86.00  949552
1      2015-02-02 09:45:00+05:30   86.00   86.53   85.75   85.79  313788
2      2015-02-02 10:15:00+05:30   85.85   85.99   85.52   85.85   82016
3      2015-02-02 10:45:00+05:30   85.85   85.98   85.70   85.80   44148
4      2015-02-02 11:15:00+05:30   85.80   86.04   85.73   85.94   38476
...                          ...     ...     ...     ...     ...     ...
22605  2022-02-18 13:15:00+05:30  121.40  121.45  121.05  121.15  209946
22606  2022-02-18 13:45:00+05:30  121.20  121.30  121.05  121.05  162356
22607  2022-02-18 14:15:00+05:30  121.10  121.10  120.60  120.65  397808
22608  2022-02-18 14:45:00+05:30  120.65  121.25  120.60  121.10  480285
22609  2022-02-18 15:15:00+05:30  121.15  121.40  121.00  121.10  519723

[22610 rows x 6 columns]

In [5]:
c=input("Enter the Stock data you wanna check:")
d,cmp=readdata(c)
df_test=pd.read_csv(d)

Enter the Stock data you wanna check:ioc

In [6]:
df_test

                            date    open    high     low   close  volume
0      2015-02-02 09:15:00+05:30   86.75   86.75   85.07   86.00  949552
1      2015-02-02 09:45:00+05:30   86.00   86.53   85.75   85.79  313788
2      2015-02-02 10:15:00+05:30   85.85   85.99   85.52   85.85   82016
3      2015-02-02 10:45:00+05:30   85.85   85.98   85.70   85.80   44148
4      2015-02-02 11:15:00+05:30   85.80   86.04   85.73   85.94   38476
...                          ...     ...     ...     ...     ...     ...
22605  2022-02-18 13:15:00+05:30  121.40  121.45  121.05  121.15  209946
22606  2022-02-18 13:45:00+05:30  121.20  121.30  121.05  121.05  162356
22607  2022-02-18 14:15:00+05:30  121.10  121.10  120.60  120.65  397808
22608  2022-02-18 14:45:00+05:30  120.65  121.25  120.60  121.10  480285
22609  2022-02-18 15:15:00+05:30  121.15  121.40  121.00  121.10  519723

[22610 rows x 6 columns]

In [7]:
%store df

Stored 'df' (DataFrame)

In [8]:
%store df_test

Stored 'df_test' (DataFrame)

In [9]:
cmp

'IOC'

In [10]:
%store cmp

Stored 'cmp' (str)